In [2]:
# Carクラスを作成し、ブランド(brand)とモデル(model)の属性を持たせる。車の情報を表示するメソッドも追加する。
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display_info(self):
        print(f"ブランド: {self.brand}, モデル: {self.model}")

In [3]:
car1 = Car("トヨタ", "プリウス")
car2 = Car("ダイハツ", "ムーヴ")

In [4]:
car1.display_info()
car2.display_info()

ブランド: トヨタ, モデル: プリウス
ブランド: ダイハツ, モデル: ムーヴ

In [5]:
# BankAccountクラスを作成し、口座番号(account_number)と残高(balance)の属性を持たせる。預金と引き出しのメソッドも追加する。
class BankAccount:
    def __init__(self, account_number, balance = 0):
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"{amount} 円を預金しました。")

    def withdraw(self, amount):
        if amount > self.balance:
            print("残高が不足しています。")
        else:
            self.balance -= amount
            print(f"{amount} 円を引き出しました。")

    def display_balance(self):
        print(f"口座番号: {self.account_number}, 残高: {self.balance} 円")

In [6]:
account1 = BankAccount("123456789")
account2 = BankAccount("987654321", 10000)

In [7]:
account1.deposit(5000)
account1.withdraw(2000)

account2.deposit(3000)
account2.withdraw(150000)

5000 円を預金しました。
2000 円を引き出しました。
3000 円を預金しました。
残高が不足しています。

In [8]:
account1.display_balance()
account2.display_balance()

口座番号: 123456789, 残高: 3000 円
口座番号: 987654321, 残高: 13000 円

In [9]:
# Animalクラスを作成し、種類(species)と年齢(age)の属性を持たせる。動物の鳴き声を出力するメソッドも追加する。
class Animal:
    def __init__(self, species, age):
        self.species = species
        self.age = age

    def make_sound(self):
        if self.species.lower() == "dog":
            print("わんわん")
        elif self.species.lower() == "cat":
            print("にゃーにゃー")
        else:
            print("不明な動物です")

In [10]:
animal1 = Animal("dog", 3)
animal2 = Animal("cat", 5)
animal3 = Animal("rabbit", 8)

In [11]:
animal1.make_sound()
animal2.make_sound()
animal3.make_sound()

わんわん
にゃーにゃー
不明な動物です

In [12]:
# Bookクラスを作成し、タイトル(title)と著者(author)の属性を持たせる。本の情報を表示するメソッドも追加する。
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display_info(self):
        print(f"タイトル: {self.title}, 著者: {self.author}")

In [13]:
book1 = Book("火花", "又吉直樹")
book2 = Book("陸王", "池井戸潤")

In [14]:
book1.display_info()
book2.display_info()

タイトル: 火花, 著者: 又吉直樹
タイトル: 陸王, 著者: 池井戸潤

In [15]:
# Studentクラスを作成し、名前(name)と学年(grade)の属性を持たせる。学生の情報を表示するメソッドも追加する。
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def display_info(self):
        print(f"名前: {self.name}, 学年: {self.grade}")

In [16]:
student1 = Student("太郎", 3)
student2 = Student("花子", 5)

In [17]:
student1.display_info()
student2.display_info()

名前: 太郎, 学年: 3
名前: 花子, 学年: 5