In [6]:
# 引数として数値のリストを取り、その平均値を返す関数を作成する

def calculate_average(numbers):
    if not numbers:
        return 0
    total = sum(numbers)
    return total / len(numbers)

In [7]:
numbers_list = [5, 10, 15, 20]

In [9]:
average = calculate_average(numbers_list)
print("平均値", average)

平均値 12.5

In [10]:
# 引数として数値のリストを取り、その中の最大値を返す関数を作成する
def find_max(numbers):
    if not numbers:
        return None

    max_value = max(numbers)
    return max_value

In [ ]:
numbers_list = [5, 10, 15, 20]

In [11]:
max_value = find_max(numbers_list)
print("最大値", max_value)

最大値 20

In [12]:
# 引数として文字列を取り、それを反転した文字列を返す関数を作成する
def reverse_string(input_string):
    return input_string[::-1]

In [19]:
input_string = "こんにちは"

In [20]:
reversed_string = reverse_string(input_string)
print("反転後の文字列:", reversed_string)

反転後の文字列: はちにんこ

In [2]:
# 引数として2つの数値を取り、それらの積を返す関数を作成する
def multiply(x, y):
    return x * y

In [3]:
number_x = 5
number_y = 9

In [4]:
result = multiply(number_x, number_y)
print("積:", result)

積: 45

In [5]:
# 引数として文字列を取り、その文字数を返す関数を作成する
def count_characters(input_string):
    return len(input_string)

In [6]:
input_string = "こんにちは、こんばんは！"

In [7]:
count_character = count_characters(input_string)
print("文字数:", count_character)

文字数: 12

In [1]:
# 引数としてリストと値を取り、その値がリスト内にいくつあるかを返す関数を作成する
def count_occurrences(input_list, value):
    count = input_list.count(value)
    return count

In [2]:
my_list = [1, 2, 3, 4, 5, 2, 3, 2]

In [3]:
target_value = 2

In [6]:
occurrences = count_occurrences(my_list, target_value)
print(f"{target_value}がリスト内に含まれている回数:", occurrences)

2がリスト内に含まれている回数: 3

In [15]:
# 引数として最小値と最大値を取り、その範囲内のランダムな数値を返す関数を作成する
import random

def generate_random_number(min_value, max_value):
    return random.randint(min_value, max_value)

In [16]:
min_value = 1
max_value = 100

In [21]:
random_number = generate_random_number(min_value, max_value)
print("ランダムな数値:", random_number)

ランダムな数値: 62

In [22]:
# 引数として文字列と文字を取り、その文字列が指定された文字で始まるかどうかを返す関数を作成する
def starts_with(input_string, character):
    return input_string.startswith(character)

In [23]:
test_string = "winter"
test_character = "w"

In [25]:
result = starts_with(test_string, test_character)
if result:
    print(f"{test_string}は {test_character} で始まります。")
else:
    print(f"{test_string}は {test_character} で始まりません。")

winterは w で始まります。

In [27]:
 # 引数として2つのリストを取り、それらを結合した新しいリストを返す関数を作成する
 def concatenate_lists(list1, list2):
     return list1 + list2

In [32]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [33]:
concatenated_list = concatenate_lists(list1, list2)
print("統合されたリスト:", concatenated_list)

統合されたリスト: [1, 2, 3, 4, 5, 6]

In [34]:
# 引数として任意の数の数値を取り、それらの合計を返す関数を作成する
def calculate_sum(*args):
    return sum(args)

In [35]:
numbers = [5, 10, 15, 20]

In [36]:
total_sum = calculate_sum(*numbers)
print("合計:", total_sum)

合計: 50